.about_me_title {
    margin-top: 60px;
}

.about_me_title h1 {
    font-weight: 400;
    font-size: 48px;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
}

.about_me__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 350px);
    gap: 30px 30px;
    grid-template-areas:
        "about-me2 about-me1"
        "about-me2  about-me3";
    justify-content: center;
    position: relative;
    z-index: 3;
}

.about_me_item {
    background: #2C2C2C;
    border-radius: 29px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 47%);
    transition: ease 0.5s;
}

.about_me_item:hover {
    box-shadow: 0px 4px 6px rgb(0 196 240 / 75%);
}


.about_me1 {
    grid-area: about-me1;
}
    
.about_me2 {
    grid-area: about-me2;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
    transition: ease 0.5s;
    cursor: default;
    padding: 20px;
    text-align: center;
    overflow: hidden scroll;
}

.about_me2::-webkit-scrollbar {
    width: 12px;
    /* ширина scrollbar */
}

.about_me2::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.about_me2::-webkit-scrollbar-thumb {
    /* цвет плашки */
    background-color: #00C4F0;
    /* закругления плашки */
    border-radius: 10px;

}

.about_me3 {
    grid-area: about-me3;
}

@media (max-width: 767px) { 
    .about_me__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 350px);
        gap: 30px 30px;
        grid-template-areas:
            "about_me2"
            "about_me1"
            "about_me3";
        justify-content: center;
        position: relative;
        z-index: 3;
    }
 }