.Footer {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    margin-top: 80px;
}

.footer-container {
    padding-top: 30px;
}
@media (max-width: 767px) {
    .footer__center-block__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .Footer {
        padding-bottom: 50px;
    }
}